{% extends "base.html" %}

{% block content %}
  <h2>edit post</h2>
    <button type="button" name="delete-post" onclick="{{delete_post()}}">delete</button>
    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
