{% extends "base.html" %}

{% block content %}
  {% if user %}
    {% if user.name==post.author %}
    <form action="/blog/edit/{{post.key().id()}}" name="edit-post-form">
        <input type="submit" value="edit">
    </form>
    <form method="get" action="/blog/delete/{{post.key().id()}}" name="delete-post-form">
        <input type="submit" value="delete">
    </form>
    {% endif %}
  {% endif %}
  {{post.render() | safe}}
{% endblock %}

{% block comment %}
<hr>
<h3>Comments</h3>
{% if comments %}
  {% for c in comments%}
    {{c.render() | safe}}
  {% endfor %}
{% endif %}
  <form method="post">
    <label>
      <textarea rows="2" cols="10" name="comment-content">{{content}}</textarea>
    </label>
    <input type="submit">
  </form>
{% endblock %}
