{% extends "base.html" %}

{% block content %}
  {% if user %}
    {% if user.name==post.author %}
    <form action="/blog/edit/{{post.key().id()}}" name="edit-post-form">
        <input type="submit" value="edit">
    </form>
    <form method="get" action="/blog/delete/{{post.key().id()}}" name="delete-post-form">
        <input type="submit" value="delete">
    </form>
    {% endif %}
  {% endif %}
  {{post.render() | safe}}
{% endblock %}

{% block comment %}
<hr>
<h3>Comments</h3>
<form method="post">
  <label>
    <textarea rows="2" cols="10" name="comment-content">{{content}}</textarea>
  </label>
  <input type="submit">
</form>
{% if comments %}
  {% for c in comments%}
    {% if user %}
      {% if user.name==c.author %}
        <hr>
        <form action="/blog/comment/edit/{{c.key().id()}}" name="edit-comment">
            <input type="submit" value="edit">
        </form>
        <form  action="/blog/comment/delete/{{c.key().id()}}" name="delete-comment">
            <input type="submit" value="delete">
        </form>
      {% endif %}
    {% endif %}
    {{c.render() | safe}}
    <hr>
  {% endfor %}
{% endif %}

{% endblock %}
