body {
    color: black;
    font-weight: 300;
}

.text-muted {
    color: grey;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin: auto;
    margin-left: 10px;
}

.text-normal {
    font-size: 20px;
    margin: 20px;
}

.img-center {
  margin:0 auto;
}

.header-text-right{
  text-align: right;
}

.paragraph-text{
  font-family: "Tahoma";
}

.iframe-border{
  border:medium double rgb(255,255,255);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-outer {
  height: 90%;
 }

#map-container {
  height: 600px
}
